@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#homePage {
  padding-top: 56px;
  margin-top: 36px;
  background-color: #CCE1F2;
  font-family: 'Do Hyeon', sans-serif;
}

.mySite {
  font-family: 'Lobster', sans-serif;
}

#helloButton {
  background:#ff0000;
  border: none;
  box-shadow: 0px;
  transition: box-shadow 300ms,background 500ms;
}

#helloButton:hover {
  box-shadow: 2px 2px 8px 1px #666;
}

.jumbotron {
  color: #fff;
  background-image: url("image/flower.jpg");
  background-size: cover;
  -webkit-background-size: 100% 100%;
}

.kotak {
  background-color:#E2BEF1;
}

.kotak:hover {
  box-shadow: 10px 10px 16px 1px #5f5f5f;
  transition: box-shadow 300ms,background 500ms;
  background: #d8c0d8;
}

.kontainer2 {
  margin: 15px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    font-family: 'Lodrina', sans-serif;
    height: 100%;
    clear: both;
    position:inherit;
}


.hoverable{
  display:inline-block;
  float: left;
  padding: 10px;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  /* untuk mengubah besar kecilnya jarak buat di bounce pertama ke bawah */
  16.65% {
    transform: translateY(5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce pertama ke atas  */
  33.3% {
    transform: translateY(-5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce kedua ke bawah  */
  49.95% {
    transform: translateY(5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce kedua ke atas  */
  66.6% {
    transform: translateY(-5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce ketiga (terakhir bounce yaitu balik ke semula) ke bawah  */
  83.25% {
    transform: translateY(0px);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

.navigasi > li > a {
  color: white;
  text-decoration: none;
}

.cekidot {
  background-color: #ff0000 !important;
}

.cekidot:hover {
  background-color: #000 !important;
}
