@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  padding-top: 56px;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.mySite {
  font-family: 'Lobster', sans-serif;
  margin: 0px;
}

.bio {
    position: relative;
    float: center;
    padding: 10px;
    margin-left: 20px;
    border: 3px Solid #ccc;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #000;
    background: #ccc;
    /* padding-left: 400px; */
}

.biodata {
  padding: 0px
  font-size: 15px;
  margin-left: 10px;
  z-index: 1;
}

.text {
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.text > h1 {
  font-size: 80px;
  text-shadow: 5px 5px #555;
  /* background: #000; */
}

.text > h3  {
  font-size: 50px;
  text-shadow: 5px 5px #555;
  /* background: #000; */
}

.location {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
}

#helloButton {
  text-decoration: none;
  color:#061e8c;
  position: absolute;
  left: 55px;
  top: 2px;
  z-index: 2;
}

#helloButton:hover {
  color: rgba(6, 30, 140, 0.7);
  /* background: #eee; */
}

.about {
  left: 10px;
}

.history, .proudCitizens {
  font-size: 20px;
  left: 20px;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 30px;
}

.sosMedIcon {
  margin-left: 30px;
}

.sosMedInfo {
  font-size: 15px;
  padding-left: 10px;
}

.openNav{
  font-family: 'Secular One', sans-serif;
  font-weight: 600;
  font-size:20px;
  cursor:pointer;
  z-index: 4;
  display: inline-block;
  position: absolute;
  padding-top:12px;
  padding-left: 30px;
}

.sideNav {
  height: 100%;
  width: 0;
  font-family: 'Londrina', sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sideNav > h6 {
  margin-left: 70px;
}

.sideNav > h4 {
  margin-left: 18px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav .closeSidenav {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closeSidenav {
  width: 20px;
  height: 20px;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
  margin-top: 0px;
  font-family: 'Secular One', sans-serif;
}

h2 {
  font-family: 'Do Hyeon', sans-serif;
  padding: 10px;
  background: rgba(255, 0 ,0 ,0.8);
  width: 390px;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.mySideNav.active {
  margin-left: 250px;
}

#main::before{
  content: "";
  display: block;
  width:180px;
  height: 45px;
  background: #ccc;
  position: absolute;
  left: 15px;
  top: 60px;
  border-radius: 5px;
  z-index: 2;
}

#profilePicture {
  margin-left: 13px;
  margin-top: 20px;
  border-radius: 200px;
  max-width: 100%;
  height: auto;
}

.carousel-inner img {
  width: 100%;
  height: 600px;
}

.heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  font-family: 'Do Hyeon', sans-serif;
}

.navigasi {
  margin: 0px;
}

.foodImage {
  margin-left: 60px;
  width: 500px;
  height: 300px;
  border-radius: 15px;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    width: 100%;
    height: 100%;
    clear: both;
    position:inherit;
}

#navbarTogglerDemo03 > ul li a{
    margin-right: 20px;
}


.hoverable{
  display:inline-block;
  float: left;
  padding: 10px;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  /* untuk mengubah besar kecilnya jarak buat di bounce pertama ke bawah */
  16.65% {
    transform: translateY(5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce pertama ke atas  */
  33.3% {
    transform: translateY(-5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce kedua ke bawah  */
  49.95% {
    transform: translateY(5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce kedua ke atas  */
  66.6% {
    transform: translateY(-5px);
  }

  /* untuk mengubah besar kecilnya jarak buat di bounce ketigas (terakhir bounce yaitu balik ke semula) ke bawah  */
  83.25% {
    transform: translateY(0px);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

.navigasi > li > a {
  color: white;
  text-decoration: none;
}
